@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 0, 0%, 100%;
  --background-start-hsl: 216, 18%, 17%;
  --background-end-hsl: 215, 18%, 20%;
}


body {
  color: hsl(var(--foreground-hsl));
  background: linear-gradient(to bottom,
      transparent,
      hsl(var(--background-end-hsl))) hsl(var(--background-start-hsl));
}