@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 0, 0%, 100%;
  --background-hsl: 216, 18%, 17%;
}

body {
  color: hsl(var(--foreground-hsl));
  background: hsl(var(--background-hsl));
}

.clamped {
  /* font-size: clamp(1rem, -0.0345rem + 4.4138vw, 3rem); */
  font-size: clamp(0.8rem, -0.1730rem + 4.3243vw, 2.8rem);
  /* font-size: clamp(0.7rem, -0.1757rem + 3.8919vw, 2.5rem); */
}